<template>
  <div class="dashBoard">
      <img src="logo.png" />
      <h3>Dashboard</h3>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.dashBoard {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  text-align: left;
  
  height: 15vh;
}
.dashBoard h3 {
  font-family: Mulish;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  color: rgba(128, 128, 128, 0.699);
}
.dashBoard img {
  margin-right: 1rem;
  width: 32px;
  height: 32px;
}

</style>