<template>
  <div class="setmain">
    <div class="hr">
      <hr />
    </div>
    <div class="set">
      <div class="icon">
        <div class="head">
          <img src="setting.png" />
          <h4>Settings</h4>
        </div>
        <div class="option"><h4>Users Access</h4></div>
        <div class="option"><h4>Logout</h4></div>
      </div>
    </div>
    <div class="hr">
      <hr />
    </div>
    <div class="lef" @click="colapse">
      <div class="icon">
        <img src="colapse.png" id="btn" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    colapse() {
      this.$emit("colapse");
    },
  },
};
</script>

<style scoped>
.set {
  height: 15vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.set::-webkit-scrollbar {
  display: none;
}
.icon {
  /* padding-left: 1rem; */

  width: 100%;
  /* height: 56px; */
  display: flex;
  flex-direction: column;
  align-items: center;

  color: rgba(128, 128, 128, 0.699);
  margin-left: auto;
  margin-right: auto;
}
.head {
  padding-left: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.head img {
  width: 16px;
  height: 16px;
  padding-right: 24px;
}
.option {
  background: rgba(43, 43, 43, 0.877);
  width: 100%;
  padding-left: 1rem;
}
.head:hover {
  cursor: pointer;
  background: rgba(128, 128, 128, 0.089);
  border-left: 0.4rem solid white;
  display: flex;
}
.lef{
    width: 100%;
    display: flex;
    align-items: center;
}
.lef .icon {
    height: 3rem;
    display: flex;
    align-items: flex-end;
  justify-content: center;
}
.lef .icon:hover {
    cursor: pointer;
}
.lef .icon img {
  margin-right: 1rem;
}
</style>
