<template>
  <div class="navmain">
    <div class="icons">
      <div class="icon">
        <div class="head">
          <img src="Vector.png" />
          <h4>Overview</h4>
        </div>
      </div>
      <div class="icon">
        <div class="head" @click="toggleBooking">
          <img src="icon2.png" />
          <h4>Bookings</h4>
        </div>
        <div class="viewbox" v-if="viewBookings">
          <div class="option"><h4>All Orders</h4></div>
          <div class="option"><h4>Create Orders</h4></div>
        </div>
      </div>
      <div class="icon">
        <div class="head" @click="toggleEmployment">
          <img src="icon3.png" />
          <h4>Employment</h4>
        </div>
        <div class="viewbox" v-if="viewEmployment">
          <div class="option"><h4>Internship</h4></div>
          <div class="option"><h4>Employee</h4></div>
        </div>
      </div>
      <div class="icon">
        <div class="head" @click="toggleUsers">
          <img src="icon4.png" />
          <h4>Users</h4>
        </div>
        <div class="viewbox" v-if="viewUsers">
          <div class="option" @click="toggleCustermers">
            <h4>Custermers</h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-angle-down" />
          </div>
          <div class="sub" v-if="viewCustermers">
            <div class="sub-option"><h4>Onboard</h4></div>
            <div class="sub-option"><h4>View/Edit</h4></div>
            <div class="sub-option"><h4>Block</h4></div>
          </div>
          <div class="option" @click="togglePartners">
            <h4>Partners</h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-angle-down" />
          </div>
          <div class="sub" v-if="viewPartners">
            <div class="sub-option"><h4>Onboard</h4></div>
            <div class="sub-option"><h4>View/Edit</h4></div>
            <div class="sub-option"><h4>Block</h4></div>
          </div>
          <div class="option" @click="toggleEvents">
            <h4>Event Logs</h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-angle-down" />
          </div>
          <div class="sub" v-if="viewEvent">
            <div class="sub-option"><h4>Customer</h4></div>
            <div class="sub-option"><h4>Partner</h4></div>
            <div class="sub-option"><h4>Team</h4></div>
          </div>
          <div class="option" @click="toggleLocation">
            <h4>Location</h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-angle-down" />
          </div>
          <div class="sub" v-if="viewLocation">
            <div class="sub-option"><h4>Customer</h4></div>
            <div class="sub-option"><h4>Partner</h4></div>
            <div class="sub-option"><h4>Team</h4></div>
          </div>
        </div>
      </div>
      <div class="icon">
        <div class="head" @click="toggleApplication">
          <img src="icon5.png" />
          <h4>Application Data</h4>
        </div>
        <div class="viewbox" v-if="viewApplication">
          <div class="option"><h4>Images</h4></div>
          <div class="option"><h4>Blog</h4></div>
        </div>
      </div>
      <div class="icon">
        <div class="head" @click="toggleService">
          <img src="icon6.png" />
          <h4>Services Data</h4>
        </div>
        <div class="viewbox" v-if="viewService">
          <div class="option"><h4>Rates</h4></div>
          <div class="option"><h4>Content</h4></div>
        </div>
      </div>
      <div class="icon">
        <div class="head" @click="toggleRevenue">
          <img src="icon7.png" />
          <h4>Revenue</h4>
        </div>
        <div class="viewbox" v-if="viewRevenue">
          <div class="option"><h4>Earning</h4></div>
          <div class="option"><h4>Expenses</h4></div>
        </div>
      </div>
      <div class="icon">
        <div class="head" @click="toggleOffers">
          <img src="icon8.png" />
          <h4>Offers & Promocodes</h4>
        </div>
        <div class="viewbox" v-if="viewOffers">
          <div class="option"><h4>View Promocodes</h4></div>
          <div class="option"><h4>Create Promocodes</h4></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      viewBookings: false,
      viewEmployment: false,
      viewUsers: false,
      viewApplication: false,
      viewService: false,
      viewRevenue: false,
      viewOffers: false,
      viewCustermers: false,
      viewPartners: false,
      viewEvent: false,
      viewLocation: false,
    };
  },
  methods: {
    toggleBooking() {
      this.viewBookings = !this.viewBookings;
      console.log("toggleBooking");
    },
    toggleEmployment() {
      this.viewEmployment = !this.viewEmployment;
      console.log("toggleEmployment");
    },
    toggleUsers() {
      this.viewUsers = !this.viewUsers;
      console.log("toggleUsers");
    },
    toggleApplication() {
      this.viewApplication = !this.viewApplication;
      console.log("toggleApplication");
    },
    toggleService() {
      this.viewService = !this.viewService;
      console.log("toggleService");
    },
    toggleRevenue() {
      this.viewRevenue = !this.viewRevenue;
      console.log("toggleRevenue");
    },
    toggleOffers() {
      this.viewOffers = !this.viewOffers;
      console.log("toggleOffers");
    },
    toggleCustermers() {
      this.viewCustermers = !this.viewCustermers;
      console.log("toggleCustermers");
    },
    togglePartners() {
      this.viewPartners = !this.viewPartners;
      console.log("togglePartners");
    },
    toggleEvents() {
      this.viewEvent = !this.viewEvent;
      console.log("toggleEvents");
    },
    toggleLocation() {
      this.viewLocation = !this.viewLocation;
      console.log("toggleLocation");
    },
  },
};
</script>

<style scoped>
.navmain {
  width: 100%;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.navmain::-webkit-scrollbar {
  display: none;
}
.icons {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* overflow-y: scroll; */
}
.icon {
  /* padding-left: 1rem; */

  width: 223px;
  /* height: 56px; */
  display: flex;
  color: rgba(128, 128, 128, 0.699);
  /* margin-left: auto;
  margin-right: auto; */
  flex-direction: column;
}
.head {
  padding-left: 1rem;
}
.head:hover {
  cursor: pointer;
  width: 100%;
  background: rgba(128, 128, 128, 0.089);
  border-left: 0.4rem solid white;
}

.icon div h4 {
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
}

.icon div img {
  width: 16px;
  height: 16px;
  padding-right: 24px;
}

.option-container {
  display: flex;
  flex-direction: column;
}
.icon .head {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.viewbox {
  padding-left: 1rem;
  background: rgba(43, 43, 43, 0.877);
  width: 100%;
}
.option {
  width: 100%;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  color: rgba(128, 128, 128, 0.808);
}
.option:hover {
  cursor: pointer;
  /* background: rgba(128, 128, 128, 0.089); */
  border-left: 0.4rem solid white;
}
.sub{
    padding-left: 3rem;
}
.sub-option {
  width: 100%;
  
  display: flex;
  align-items: center;
  color: rgba(128, 128, 128, 0.699);
  background: rgba(43, 43, 43, 0.877);
}
.sub-option:hover {
  cursor: pointer;
  /* background: rgba(128, 128, 128, 0.089); */
  border-left: 0.4rem solid white;
}
</style>
