<template>
  <div class="main">
      <logo />
      <sidenav />
      <setting @colapse="colapse" />
  </div>
</template>

<script>
import logo from "./logo.vue";
import sidenav from "./sidenavcomponent.vue";
import setting from "./settingcomponent.vue";
export default {
components: {
  logo,
  sidenav,
  setting
},
methods: {
  colapse() {
    this.$emit("colapse");
  }
},

}
</script>

<style scoped>
body {
    margin: 0;
    padding: 0;
}
.main {
  height: 100vh;
  width: 15rem;
  background: #363740;
  overflow-x: hidden;
  overflow-y: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.main::-webkit-scrollbar {
  display: none;
}

</style>