<template>
  <section class="container">
    <div class="dashBoard">
      <img src="logo.png" />
    </div>
    <div class="icons">
      <div class="icon">
        <div class="lol">
          <img src="Vector.png" />
        </div>
      </div>
      <div class="icon">
        <div class="lol">
          <img src="icon2.png" />
        </div>
      </div>
      <div class="icon">
        <div class="lol">
          <img src="icon3.png" />
        </div>
      </div>
      <div class="icon">
        <div class="lol">
          <img src="icon4.png" />
        </div>
      </div>
      <div class="icon">
        <div class="lol">
          <img src="icon5.png" />
        </div>
      </div>
      <div class="icon">
        <div class="lol">
          <img src="icon6.png" />
        </div>
      </div>
      <div class="icon">
        <div class="lol">
          <img src="icon7.png" />
        </div>
      </div>
      <div class="icon">
        <div class="lol">
          <img src="icon8.png" />
        </div>
      </div>
    </div>
    <div class="hr1">
      <hr />
    </div>
    <div class=" sett">
      <div class="icon">
      <img src="setting.png" />
      </div>
    </div>
    <div class="hr2">
      <hr />
    </div>
    <div class="lef" @click="toggleSidebar">

      <img src="left.png" id="btn" />
    </div>
  </section>
</template>

<script>
export default {
data (){
  return {
    sidebar: false,
  }
},

    methods: {
        toggleSidebar () {
        this.sidebar = !this.sidebar;
        this.$emit('toggle', this.sidebar);
        }
    }

}

</script>

<style scoped>
.container {
  display: block;
  width: 79px;
  height: 686px;
  background: #363740;
  margin: 0;
  padding: 0;
}
.dashBoard {
  padding-top: 37px;
  padding-left: 24px;
  padding-bottom: 79px;
  align-items: center;
  text-align: left;
  width: 79px;
}
.dashBoard h3 {
  font-family: Mulish;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  color: rgba(128, 128, 128, 0.699);
}
.dashBoard img {
  margin-right: 1rem;
  width: 32px;
  height: 32px;
}
.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 370px;
  width: 79px;
}
.icon {
  width: 79px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon img {
  width: 16px;
  height: 16px;
  margin-top: auto;
  margin-bottom: auto;
}

.hr1 hr {
  margin-top: 55px;
  height: 0.5px;
  border-width: 0;
  background-color: rgba(159, 162, 180, 0.5);
  margin: 0;
}

.hr2 hr {
  height: 0.5px;
  margin: 0;
  border-width: 0;
  background-color: rgba(159, 162, 180, 1);
}
.lef {
  height: 24px;
  width: 24px;
  float: right;
  padding-right: 13px;
  padding-top: 19px;
}
.lef img {
  width: 8px;
  height: 12px;
}
.icon:hover{
  background: #9fa2b460;
}

.sett {
  height: 106px;
  width: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
}


</style>
