<template>
  <div class="main">
    <div class="hr">
      <hr />
    </div>
    <div class="sett">
      <div class="icon">
        <img src="setting.png" />
      </div>
    </div>
    <div class="hr">
      <hr />
    </div>
    <div class="lef" @click="expand">
      <div class="icon">
        <img src="left.png" id="btn" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      show: false,
    };
  },
  methods: {
    expand() {
      this.show = !this.show;
      this.$emit("expand");
    },
  },
};
</script>

<style scoped>
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 25vh;
}
.sett {
  height: 15vh;
}
.lef {
  height: 5vh;
}
.sett,
.lef {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sett {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sett:hover {
  cursor: pointer;
  background: rgba(128, 128, 128, 0.089);
  border-left: 0.4rem solid white;
}

.hr {
  width: 100%;
}
hr {
  margin: 0;
}
.lef {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lef:hover {
  cursor: pointer;
  background: rgba(128, 128, 128, 0.089);
}
</style>
