<template>
  <div class="headercomponent">
    <logo />
    <logosidenavigationcomponent/>
    <logosidebottom 
    @expand="expand"/>
  </div>
</template>

<script>
import logo from "./logo.vue";
import logosidenavigationcomponent from "./logosidenavigationcomponent.vue";
import logosidebottom from "./logosidenavbottom.vue";
export default {
  components: {
    logo,
    logosidenavigationcomponent,
    logosidebottom,
  },
  data() {
    return {};
  },
  methods: {
    expand() {
      this.$emit("expand");
    },
    collapse() {
      this.$emit("collapse");
    },
  
  },
};
</script>

<style scopped>
body {
  margin: 0;
  padding: 0;
}
.headercomponent {
  height: 100vh;
  width: 5.5vw;
  background: #363740;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.headercomponent::-webkit-scrollbar {
  display: none;
}
</style>
