<template>
  <div class="icons">
      <div class="icon" @click="toggleSidebar">
        <div class="lol">
          <img src="Vector.png" />
        </div>
      </div>
      <div class="icon" @click="toggleSidebar">
        <div class="lol">
          <img src="icon2.png" />
        </div>
      </div>
      <div class="icon" @click="toggleSidebar">
        <div class="lol">
          <img src="icon3.png" />
        </div>
      </div>
      <div class="icon" @click="toggleSidebar">
        <div class="lol">
          <img src="icon4.png" />
        </div>
      </div>
      <div class="icon" @click="toggleSidebar">
        <div class="lol">
          <img src="icon5.png" />
        </div>
      </div>
      <div class="icon" @click="toggleSidebar">
        <div class="lol">
          <img src="icon6.png" />
        </div>
      </div>
      <div class="icon" @click="toggleSidebar">
        <div class="lol">
          <img src="icon7.png" />
        </div>
      </div>
      <div class="icon" @click="toggleSidebar">
        <div class="lol">
          <img src="icon8.png" />
        </div>
      </div>
    </div>
</template>

<script>

export default {
  data() {
    return {
      // show: false,
    };
  },
  methods: {
    toggleSidebar() {
      // this.show = !this.show;
      console.log("working");
    },
  },
};

</script>


<style scoped>
.icons{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
}

.icon {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon:hover{
  cursor: pointer;
  background: rgba(128, 128, 128, 0.089);
  border-left: 0.4rem solid white;
}
</style>