<template>
  <div class="dashBoard">
    <div class="img">
      <img src="logo.png" />
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
body {
  margin: 0;
  padding: 0;
}
.dashBoard {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  
  height: 15vh;
}
.dashBoard img {
  width: 32px;
  height: 32px;
}
</style>
