<template>
  <section class="container" id="sidebar">
    <logosidenav v-if="sidebar==false" @expand="expand" />
    <detailSidenav v-if="sidebar" @colapse="collapse" />

  </section>

</template>

<script>
import logosidenav from "./logosidenav.vue";
import detailSidenav from "./sidenavExpanded/sidenav.vue";
export default {

  components: {
    logosidenav,
    detailSidenav
  },
data (){
  return {
    sidebar: false,
    
  }

},


    methods: {
      expand() {
        this.sidebar = true;
      },
      collapse() {
        this.sidebar = false;
      },
    },
        
    

};
</script>

<style scoped>
body{
  margin: 0;
  padding: 0;
}
* {
  font-family: "Mulish", sans-serif;
}
.container {
  display: block;
  width: fit-content;
  background: #363740;
  margin: 0 auto;
  padding: 0;
  float: left;
}
.dashBoard {
  padding-top: 37px;
  padding-left: 24px;
  padding-bottom: 29px;
  display: flex;
  align-items: center;
  text-align: left;
  width: 79px;
}
.dashBoard h3 {
  font-family: Mulish;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  color: rgba(128, 128, 128, 0.699);
}
.dashBoard img {
  margin-right: 1rem;
  width: 32px;
  height: 32px;
}
.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-left: 28px;
}
.icon {
  width: 223px;
  height: 56px;
  display: flex;
  align-items: center;
  color: rgba(128, 128, 128, 0.699);
  margin-left: auto;
  margin-right: auto;
}

.icon h4 {
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
}

.icon img {
  width: 16px;
  height: 16px;
  padding-right: 24px;
}



.lef {
  height: 35px;
  width: 24px;
  float: right;
  padding-right: 13px;
  padding-top: 23px;
}
.lef img {
  width: 8px;
  height: 12px;
}
.icon:hover {
  background: #9fa2b460;
}

.border {
  width: 100%;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  margin: 0;
  height: 116px
}


</style>
