<template>
  <div class="hell">
    <headercomponent />
  </div>
</template>

<script>
import headercomponent from "./components/sidebar.vue";

export default {
  components: {
    headercomponent,
  },
  data() {
    return {
    };
  },
  methods: {
  },
};
</script>

<style>
body{
  margin: 0;
  padding: 0;
}
</style>
